.all{
    width: 60px;
    border: none;
}
.search{
    width: 600px;
    border: none;
}
.icn{
    width: 50px;
    border: none;
}
.log{
    margin-left: 600px;
    width: 350px;
}
.log2{
    margin-left: 600px;
    width: 350px;
}
.cs{
    width: 250px;
    height: 300px;
}
.itm{
    margin-top: 450px;
    margin-left: 200px;
    padding: 20px;
    
}

