.all{
    width: 60px;
    border: none;
}
.search{
    width: 600px;
    border: none;
}
.icn{
    width: 50px;
    border: none;
}
.log{
    margin-left: 600px;
    width: 350px;
}
.log2{
    margin-left: 600px;
    width: 350px;
}
.itm{
    width: 600px;
    height: 400px;
    margin-right: 20px;
}

