.head{
    height: 60px;
    background-color: rgb(107, 104, 104);
    
}
.about{
    height: 60px;
    background-color: rgb(107, 104, 104);
    
}
.cont{
    height: 60px;
    background-color: rgb(107, 104, 104);
}

